.forget{
    float:right;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}

.checkbox1{
    font-weight: bold;
    
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox2{
     display: flex;
    justify-content: center;
    align-items: center;
}
.login-para{
    font-size: 20px;
    text-align: center;
    margin-right: 2px;
}

.login-link{
    text-decoration: none;
    font-weight: bold;
}

h3{
    color:orange;
}

.notification{
    background-color: palegreen;
    border: 2px solid green;
    color: white;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 4px;
}

.loader {
border: 6px solid lightgray;
border-top: 6px solid blue;
 width: 40px;
 height: 40px;
 margin: auto;
 border-radius: 50%;
animation: spin 1s linear;
 animation-iteration-count: 2s;
}
/* Spin animation */
@keyframes spin {
to { transform: rotate(360deg); }
}
