footer{
    background-color: blue;
    color: white;
    padding: 4px;
    border-top: 4px solid rgba(255, 255, 0, 0.911) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    justify-content: center;
    text-align: center;
}

.links h5{
    color:white;
    margin-top: 6px;
    font-weight: bold;
}

.links ul li Link:hover{
text-decoration: underline;
}
Link{
    color: brown;
}

.follow{
    display: block;
}
.follow, Link{
    display: block;
}