footer{
    background-color: blue;
    color: white;
    padding: 4px;
    border-top: 4px solid rgba(255, 255, 0, 0.911) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    justify-content: center;
    text-align: center;
}

.links h5{
    color:white;
    margin-top: 6px;
    font-weight: bold;
}

.follow ul {
  padding: 0;
}

.follow ul li {
  list-style: none;
  padding: 5px 0;
}

.follow ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.follow ul li a:hover {
  border-bottom: 2px white solid;
}
.follow i {
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
}

 .fa-facebook {
     color: #1877F2;
     }
 .fa-whatsapp { 
    color: #25D366;
 }
 .fa-x-twitter { 
    color: #000000;
 }
 .fa-tiktok { 
    color: #000000;
 }

