.forget{
    float:right;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}

.checkbox1{
    font-weight: bold;
    
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox2{
     display: flex;
    justify-content: center;
    align-items: center;
}
.login-para{
    font-size: 20px;
    text-align: center;
    margin-right: 2px;
}

.login-link{
    text-decoration: none;
    font-weight: bold;
}